<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GitSha</key>
	<string>$(GIT_SHA)</string>
	<key>GitBranch</key>
	<string>$(GIT_BRANCH)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Grabber Native uses the microphone for calls with Larry.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
</dict>
</plist>
